<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
</head>
<body>
    <!-- add style CSS & TailwindCSS configuration -->
    <% const haveCustomCss = locals.comp_options.style ? true : false %>
    <% /*const paramsObj = {
        id : id, 
        options: comp_options,
        style : {
            TailwindCSS : false;
            component : {
                default : '',
                moderne : '',
                aesthetic : '',
                poly : '',
                rou : '',
            }
        }
    } */%>
    <%- include(`./src/form/input/${path}`, {id : id, options: comp_options})%>
</body>
</html>